vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.buildpath
.project
.settings/
MP_verify_TyIMCUMVSNjagMWZ.txt
html/
info.php
/life/commercial.html
/life/css/
/life/huxi.html
/life/images/
/life/index2.html
/life/js/
/life/kangda.html
/life/lc.html
/life/m1_1.html
/life/m1_2.html
/life/m1_3.html
/life/m1_4.html
/life/m1_5.html
/life/m1_6.html
/life/m2_1.html
/life/m2_2.html
/life/m2_3.html
/life/m2_4.html
/life/m2_5.html
/life/m3_1.html
/life/m3_2.html
/life/m3_3.html
/life/m3_4.html
/life/m3_5.html
/life/m4_1.html
/life/m4_2.html
/life/m4_3.html
/life/m4_4.html
/life/menu1.html
/life/menu2.html
/life/newlife.html
/life/qa.html
/life/sy1.html
/life/sy2.html
/life/sy3.html
/life/sy4.html
/life/sy5.html
/life/sy6.html
/life/sy7.html
/life/test-parllay.html
/life/video.html
/life/zs.html
web.config
wxWebApiProxy/

exhibition/.gitattributes
exhibition/.gitignore
exhibition/.htaccess__MACOSX/
dj-html20180410.zip
dj-html20180410/

#exhibition/app/
exhibition/artisan*
exhibition/bootstrap/
exhibition/composer.json
exhibition/composer.lock
exhibition/config/
#exhibition/database/
exhibition/database/.gitignore
exhibition/database/factories/
#exhibition/database/migrations/
exhibition/database/migrations/.gitkeep
exhibition/database/migrations/2014_10_12_000000_create_users_table.php
exhibition/database/migrations/2014_10_12_100000_create_password_resets_table.php
exhibition/database/seeds/
exhibition/gulpfile.js
exhibition/index.php
exhibition/package.json
exhibition/phpunit.xml
#exhibition/public/
exhibition/public/css/touchcarousel.css
exhibition/public/favicon.ico
exhibition/public/index.html
exhibition/public/index.php
exhibition/public/robots.txt
exhibition/public/ueditor/
exhibition/public/uploads/
exhibition/public/web.config
exhibition/readme.md

#exhibition/resources/assets/
#exhibition/resources/assets/admin/
#exhibition/resources/assets/admin/css/
exhibition/resources/assets/admin/css/touchcarousel.css
exhibition/resources/assets/admin/css/update_img.css
exhibition/resources/assets/admin/images/
exhibition/resources/assets/admin/js/
exhibition/resources/assets/home/
exhibition/resources/assets/sass/
exhibition/resources/assets/web/
exhibition/resources/assets/wechat/
exhibition/resources/lang/
exhibition/resources/org/
exhibition/resources/public/
#exhibition/resources/views/
#exhibition/resources/views/_layout/
exhibition/resources/views/_layout/admin.blade.php
#exhibition/resources/views/admin/
exhibition/resources/views/admin/awards/
exhibition/resources/views/admin/instruction/
exhibition/resources/views/admin/life/createBanner.blade.php
exhibition/resources/views/admin/life/listBanner.blade.php
exhibition/resources/views/admin/life/showBanner.blade.php
exhibition/resources/views/admin/member/
exhibition/resources/views/admin/messages/
exhibition/resources/views/admin/paginate.blade.php
exhibition/resources/views/admin/shop/
exhibition/resources/views/admin/user/
exhibition/resources/views/errors/
exhibition/resources/views/except.blade.php
exhibition/resources/views/map.blade.php
exhibition/resources/views/shop.blade.php
exhibition/resources/views/shop.blade.php1
exhibition/resources/views/success.blade.php
exhibition/resources/views/uploadimage.blade.php
exhibition/resources/views/vendor/
exhibition/resources/views/web/
#exhibition/resources/views/wechat/
exhibition/resources/views/wechat/awards_list.blade.php
exhibition/resources/views/wechat/instru_details.blade.php
exhibition/resources/views/wechat/instru_index.blade.php
exhibition/resources/views/welcome.blade.php

exhibition/storage/
exhibition/tests/
exhibition/vendor/

exhibition/app/Commands/
exhibition/app/Console/
exhibition/app/Events/
exhibition/app/Exceptions/
#exhibition/app/Http/
exhibition/app/Jobs/
exhibition/app/Listeners/
exhibition/app/Policies/
exhibition/app/Providers/

#exhibition/app/Http/Controllers/
#exhibition/app/Http/Controllers/Admin/
exhibition/app/Http/Controllers/Admin/AwardsController.php
exhibition/app/Http/Controllers/Admin/InstructionController.php
exhibition/app/Http/Controllers/Admin/MemberController.php
exhibition/app/Http/Controllers/Admin/MessageController.php
exhibition/app/Http/Controllers/Admin/ShopController.php
exhibition/app/Http/Controllers/Admin/UserController.php
exhibition/app/Http/Controllers/Admin/WelcomeController.php
exhibition/app/Http/Controllers/Admin/WxauthController.php
exhibition/app/Http/Controllers/Auth/
exhibition/app/Http/Controllers/Controller.php
exhibition/app/Http/Controllers/ImgUploadController.php
exhibition/app/Http/Controllers/MemberController.php
exhibition/app/Http/Controllers/ShopController.php
exhibition/app/Http/Controllers/UserinfoController.php
exhibition/app/Http/Controllers/UserinfoController.php.bak
#exhibition/app/Http/Controllers/Wechat/
exhibition/app/Http/Controllers/Wechat/AwardsController.php
exhibition/app/Http/Controllers/Wechat/InstructionsController.php

exhibition/app/Http/Controllers/WxController.php
exhibition/app/Http/Controllers/WxController.php.bak

exhibition/app/Http/Kernel.php
exhibition/app/Http/Middleware/
#exhibition/app/Http/Model/
exhibition/app/Http/Model/Awards.php
exhibition/app/Http/Model/AwardsType.php
exhibition/app/Http/Model/Banner.php
exhibition/app/Http/Model/Instruction.php
exhibition/app/Http/Model/LifeType.php
exhibition/app/Http/Model/Member.php
exhibition/app/Http/Model/Messages.php
exhibition/app/Http/Model/Shop.php
exhibition/app/Http/Model/User.php
exhibition/app/Http/Model/Wxauth.php
exhibition/app/Http/Requests/
