vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.buildpath
.project
.settings/
MP_verify_TyIMCUMVSNjagMWZ.txt
html/
info.php
/life/*
web.config
wxWebApiProxy/

exhibition/.gitattributes
exhibition/.gitignore
exhibition/.htaccess__MACOSX/
dj-html20180410.zip
dj-html20180410/

#exhibition/app/
exhibition/artisan*
exhibition/bootstrap/
exhibition/composer.json
exhibition/composer.lock
exhibition/config/
exhibition/database/
exhibition/gulpfile.js
exhibition/index.php
exhibition/package.json
exhibition/phpunit.xml
#exhibition/public/
exhibition/public/favicon.ico
exhibition/public/index.html
exhibition/public/index.php
exhibition/public/robots.txt
exhibition/public/ueditor/
exhibition/public/uploads/
exhibition/public/web.config
exhibition/readme.md

exhibition/resources/assets/
exhibition/resources/lang/
exhibition/resources/org/
exhibition/resources/public/
#exhibition/resources/views/
exhibition/resources/views/_layout/
exhibition/resources/views/admin/
exhibition/resources/views/errors/
exhibition/resources/views/except.blade.php
exhibition/resources/views/map.blade.php
exhibition/resources/views/shop.blade.php
exhibition/resources/views/shop.blade.php1
exhibition/resources/views/success.blade.php
exhibition/resources/views/uploadimage.blade.php
exhibition/resources/views/vendor/
exhibition/resources/views/web/
#exhibition/resources/views/wechat/
exhibition/resources/views/wechat/awards_list.blade.php
exhibition/resources/views/wechat/instru_details.blade.php
exhibition/resources/views/wechat/instru_index.blade.php
exhibition/resources/views/welcome.blade.php

exhibition/storage/
exhibition/tests/
exhibition/vendor/

exhibition/app/Commands/
exhibition/app/Console/
exhibition/app/Events/
exhibition/app/Exceptions/
#exhibition/app/Http/
exhibition/app/Jobs/
exhibition/app/Listeners/
exhibition/app/Policies/
exhibition/app/Providers/

#exhibition/app/Http/Controllers/
exhibition/app/Http/Controllers/Admin/
exhibition/app/Http/Controllers/Auth/
exhibition/app/Http/Controllers/Controller.php
exhibition/app/Http/Controllers/ImgUploadController.php
exhibition/app/Http/Controllers/MemberController.php
exhibition/app/Http/Controllers/ShopController.php
exhibition/app/Http/Controllers/UserinfoController.php
exhibition/app/Http/Controllers/UserinfoController.php.bak
#exhibition/app/Http/Controllers/Wechat/
exhibition/app/Http/Controllers/Wechat/AwardsController.php
exhibition/app/Http/Controllers/Wechat/InstructionsController.php

exhibition/app/Http/Controllers/WxController.php
exhibition/app/Http/Controllers/WxController.php.bak

exhibition/app/Http/Kernel.php
exhibition/app/Http/Middleware/
exhibition/app/Http/Model/
exhibition/app/Http/Requests/



