vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.buildpath
.project
.settings/
MP_verify_TyIMCUMVSNjagMWZ.txt
html/
info.php
/life/commercial.html
/life/css/swiper.min.css
/life/huxi.html
/life/images/1283995716.jpg
/life/images/Thumbs.db
/life/images/anserbg.jpg
/life/images/back.jpg
/life/images/banner1.jpg
/life/images/banner2.jpg
/life/images/banner3.jpg
/life/images/c1_pic1.jpg
/life/images/c1_pic1.old
/life/images/c1_pic2.jpg
/life/images/c1_pic3.jpg
/life/images/c1_pic4.jpg
/life/images/c2_pic1.jpg
/life/images/c2_pic2.jpg
/life/images/c2_pic3.jpg
/life/images/c2_pic4.jpg
/life/images/c3_pic1.jpg
/life/images/c3_pic2.jpg
/life/images/c3_pic3.jpg
/life/images/c3_pic4.jpg
/life/images/cate1_0.jpg
/life/images/cate1_1.jpg
/life/images/cate1_2.jpg
/life/images/cate1_3.jpg
/life/images/cate1_4.jpg
/life/images/cate1_5.jpg
/life/images/cate1_6.jpg
/life/images/cate2_0.jpg
/life/images/cate2_1.jpg
/life/images/cate2_2.jpg
/life/images/cate2_3.jpg
/life/images/cate2_4.jpg
/life/images/cate2_5.jpg
/life/images/cbg1.jpg
/life/images/cbg2.jpg
/life/images/cbg3.jpg
/life/images/cbg4.jpg
/life/images/cbg5.jpg
/life/images/cbg6.jpg
/life/images/cmore1.png
/life/images/cmore2.png
/life/images/cmore3.png
/life/images/cmore4.png
/life/images/cmore5.png
/life/images/cmore6.png
/life/images/commcial_arr.png
/life/images/commcial_btn1.png
/life/images/commcial_btn2.png
/life/images/commercial.html
/life/images/commercial_pic1.jpg
/life/images/commercial_tt.jpg
/life/images/hx1.jpg
/life/images/hx2.jpg
/life/images/hx3.jpg
/life/images/hx4.jpg
/life/images/hx5.jpg
/life/images/info1.jpg
/life/images/info2.jpg
/life/images/info3.jpg
/life/images/info4.jpg
/life/images/jy_kv1.jpg
/life/images/jy_kv2.jpg
/life/images/jy_kv3.jpg
/life/images/jyft/
/life/images/jz_kv1.jpg
/life/images/jz_kv2.jpg
/life/images/jz_kv3.jpg
/life/images/jz_kv4.jpg
/life/images/kd1.jpg
/life/images/kd2.jpg
/life/images/kd3.jpg
/life/images/kd4.jpg
/life/images/kd5.jpg
/life/images/kq/
/life/images/kq_kv1.jpg
/life/images/kq_kv2.jpg
/life/images/kq_kv3.jpg
/life/images/larr.jpg
/life/images/lc1.jpg
/life/images/lc2.jpg
/life/images/lc3.jpg
/life/images/lc4.jpg
/life/images/lc5.jpg
/life/images/leftarr.png
/life/images/logo.jpg
/life/images/m2_a_1.jpg
/life/images/m2_a_2.jpg
/life/images/m2_a_3.jpg
/life/images/m2_a_4.jpg
/life/images/m2_a_5.jpg
/life/images/m2_b_1.jpg
/life/images/m2_b_2.jpg
/life/images/m2_b_3.jpg
/life/images/m2_b_4.jpg
/life/images/m2_b_5.jpg
/life/images/m2_b_5_02.jpg
/life/images/m2_c_1.jpg
/life/images/m2_c_2.jpg
/life/images/m2_c_3.jpg
/life/images/m2_c_4.jpg
/life/images/m2_c_5.jpg
/life/images/m2_d_1.jpg
/life/images/m2_d_2.jpg
/life/images/m2_d_3.jpg
/life/images/m2_d_4.jpg
/life/images/m2_d_5.jpg
/life/images/m2_e_1.jpg
/life/images/m2_e_2.jpg
/life/images/m2_e_3.jpg
/life/images/m2_e_4.jpg
/life/images/m2_e_5.jpg
/life/images/m2a_1.gif
/life/images/m2a_2.gif
/life/images/m2b_1.gif
/life/images/m2b_2.gif
/life/images/m2c_1.gif
/life/images/m2c_2.gif
/life/images/m2d_1.gif
/life/images/m2d_2.gif
/life/images/m2e_1.gif
/life/images/m2e_2.gif
/life/images/m_a_1.jpg
/life/images/m_a_2.jpg
/life/images/m_a_3.jpg
/life/images/m_a_4.jpg
/life/images/m_a_5.jpg
/life/images/m_b_1.jpg
/life/images/m_b_2.jpg
/life/images/m_b_3.jpg
/life/images/m_b_4.jpg
/life/images/m_b_5.jpg
/life/images/m_c_1.jpg
/life/images/m_c_2.jpg
/life/images/m_c_3.jpg
/life/images/m_c_4.jpg
/life/images/m_c_5.jpg
/life/images/m_d_1.jpg
/life/images/m_d_2.jpg
/life/images/m_d_3.jpg
/life/images/m_d_4.jpg
/life/images/m_d_5.jpg
/life/images/m_e_1.jpg
/life/images/m_e_2.jpg
/life/images/m_e_3.jpg
/life/images/m_e_4.jpg
/life/images/m_e_5.jpg
/life/images/m_f_1.jpg
/life/images/m_f_2.jpg
/life/images/m_f_3.jpg
/life/images/m_f_4.jpg
/life/images/m_f_5.jpg
/life/images/ma_1.gif
/life/images/ma_2.gif
/life/images/mb_1.gif
/life/images/mb_2.gif
/life/images/mc_1.gif
/life/images/mc_2.gif
/life/images/md_1.gif
/life/images/md_2.gif
/life/images/me_1.gif
/life/images/me_2.gif
/life/images/menus.png
/life/images/mf_1.gif
/life/images/mf_2.gif
/life/images/nav.jpg
/life/images/navon.jpg
/life/images/navtri.png
/life/images/newlife.gif
/life/images/newlife1.jpg
/life/images/newlife2.jpg
/life/images/newlife3.jpg
/life/images/newlife4.jpg
/life/images/newlife5.jpg
/life/images/newlife6.jpg
/life/images/newlife7.jpg
/life/images/ntit.jpg
/life/images/ntit1.jpg
/life/images/ntit2.jpg
/life/images/ntit3.jpg
/life/images/phone.jpg
/life/images/phone2.jpg
/life/images/qa10_pic.jpg
/life/images/qa1_pic.jpg
/life/images/qa2_pic.jpg
/life/images/qa3_pic.jpg
/life/images/qa4_pic.jpg
/life/images/qa5_pic.jpg
/life/images/qa6_pic.jpg
/life/images/qa7_pic.jpg
/life/images/qa8_pic.jpg
/life/images/ques.jpg
/life/images/questt.jpg
/life/images/rarr.jpg
/life/images/rightarr.png
/life/images/sy/
/life/images/t1.jpg
/life/images/t2.jpg
/life/images/vpic.jpg
/life/images/zs1.jpg
/life/images/zs2.jpg
/life/images/zs3.jpg
/life/images/zs4.jpg
/life/images/zs5.jpg
/life/index2.html
/life/js/
/life/kangda.html
/life/lc.html
/life/m1_1.html
/life/m1_2.html
/life/m1_3.html
/life/m1_4.html
/life/m1_5.html
/life/m1_6.html
/life/m2_1.html
/life/m2_2.html
/life/m2_3.html
/life/m2_4.html
/life/m2_5.html
/life/m3_1.html
/life/m3_2.html
/life/m3_3.html
/life/m3_4.html
/life/m3_5.html
/life/m4_1.html
/life/m4_2.html
/life/m4_3.html
/life/m4_4.html
/life/menu1.html
/life/menu2.html
/life/newlife.html
/life/qa.html
/life/sy1.html
/life/sy2.html
/life/sy3.html
/life/sy4.html
/life/sy5.html
/life/sy6.html
/life/sy7.html
/life/test-parllay.html
/life/video.html
/life/zs.html
web.config
wxWebApiProxy/

exhibition/.gitattributes
exhibition/.gitignore
exhibition/.htaccess__MACOSX/
dj-html20180410.zip
dj-html20180410/

#exhibition/app/
exhibition/artisan*
exhibition/bootstrap/
exhibition/composer.json
exhibition/composer.lock
exhibition/config/
#exhibition/database/
exhibition/database/.gitignore
exhibition/database/factories/
#exhibition/database/migrations/
exhibition/database/migrations/.gitkeep
exhibition/database/migrations/2014_10_12_000000_create_users_table.php
exhibition/database/migrations/2014_10_12_100000_create_password_resets_table.php
exhibition/database/seeds/
exhibition/gulpfile.js
exhibition/index.php
exhibition/package.json
exhibition/phpunit.xml
#exhibition/public/
exhibition/public/css/touchcarousel.css
exhibition/public/favicon.ico
exhibition/public/index.html
exhibition/public/index.php
exhibition/public/robots.txt
exhibition/public/ueditor/
exhibition/public/uploads/
exhibition/public/web.config
exhibition/readme.md

#exhibition/resources/assets/
#exhibition/resources/assets/admin/
#exhibition/resources/assets/admin/css/
exhibition/resources/assets/admin/css/touchcarousel.css
exhibition/resources/assets/admin/css/update_img.css
exhibition/resources/assets/admin/images/
exhibition/resources/assets/admin/js/
exhibition/resources/assets/home/
exhibition/resources/assets/sass/
exhibition/resources/assets/web/
exhibition/resources/assets/wechat/
exhibition/resources/lang/
exhibition/resources/org/
exhibition/resources/public/
#exhibition/resources/views/
#exhibition/resources/views/_layout/
exhibition/resources/views/_layout/admin.blade.php
#exhibition/resources/views/admin/
exhibition/resources/views/admin/awards/
exhibition/resources/views/admin/instruction/
exhibition/resources/views/admin/life/createBanner.blade.php
exhibition/resources/views/admin/life/listBanner.blade.php
exhibition/resources/views/admin/life/showBanner.blade.php
exhibition/resources/views/admin/member/
exhibition/resources/views/admin/messages/
exhibition/resources/views/admin/paginate.blade.php
exhibition/resources/views/admin/shop/
exhibition/resources/views/admin/user/
exhibition/resources/views/errors/
exhibition/resources/views/except.blade.php
exhibition/resources/views/map.blade.php
exhibition/resources/views/shop.blade.php
exhibition/resources/views/shop.blade.php1
exhibition/resources/views/success.blade.php
exhibition/resources/views/uploadimage.blade.php
exhibition/resources/views/vendor/
exhibition/resources/views/web/
#exhibition/resources/views/wechat/
exhibition/resources/views/wechat/awards_list.blade.php
exhibition/resources/views/wechat/instru_details.blade.php
exhibition/resources/views/wechat/instru_index.blade.php
exhibition/resources/views/welcome.blade.php

exhibition/storage/
exhibition/tests/
exhibition/vendor/

exhibition/app/Commands/
exhibition/app/Console/
exhibition/app/Events/
exhibition/app/Exceptions/
#exhibition/app/Http/
exhibition/app/Jobs/
exhibition/app/Listeners/
exhibition/app/Policies/
exhibition/app/Providers/

#exhibition/app/Http/Controllers/
#exhibition/app/Http/Controllers/Admin/
exhibition/app/Http/Controllers/Admin/AwardsController.php
exhibition/app/Http/Controllers/Admin/InstructionController.php
exhibition/app/Http/Controllers/Admin/MemberController.php
exhibition/app/Http/Controllers/Admin/MessageController.php
exhibition/app/Http/Controllers/Admin/ShopController.php
exhibition/app/Http/Controllers/Admin/UserController.php
exhibition/app/Http/Controllers/Admin/WelcomeController.php
exhibition/app/Http/Controllers/Admin/WxauthController.php
exhibition/app/Http/Controllers/Auth/
exhibition/app/Http/Controllers/Controller.php
exhibition/app/Http/Controllers/ImgUploadController.php
exhibition/app/Http/Controllers/MemberController.php
exhibition/app/Http/Controllers/ShopController.php
exhibition/app/Http/Controllers/UserinfoController.php
exhibition/app/Http/Controllers/UserinfoController.php.bak
#exhibition/app/Http/Controllers/Wechat/
exhibition/app/Http/Controllers/Wechat/AwardsController.php
exhibition/app/Http/Controllers/Wechat/InstructionsController.php

exhibition/app/Http/Controllers/WxController.php
exhibition/app/Http/Controllers/WxController.php.bak

exhibition/app/Http/Kernel.php
exhibition/app/Http/Middleware/
#exhibition/app/Http/Model/
exhibition/app/Http/Model/Awards.php
exhibition/app/Http/Model/AwardsType.php
exhibition/app/Http/Model/Banner.php
exhibition/app/Http/Model/Instruction.php
exhibition/app/Http/Model/LifeType.php
exhibition/app/Http/Model/Member.php
exhibition/app/Http/Model/Messages.php
exhibition/app/Http/Model/Shop.php
exhibition/app/Http/Model/User.php
exhibition/app/Http/Model/Wxauth.php
exhibition/app/Http/Requests/
